*{
    margin: 0px;
padding: 0px;
}
body{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
nav{
    background: #181818;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); */
   
}
.ux{
    display: flex;
    justify-content: center;
}
.list-iteam{
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 25px;
}
.obwiy{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.ru{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #F0D905;
    margin-right: 5px;
}
.eng{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 5px;
}
.group11{
    width: 36px;
    height: 16px;
}
.tel{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: -10px;
}
#tel{
    margin-top: -15px;
}
.web{
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    margin-top: 165px;
    color: #FFFFFF;
    width: 700px;
}
.dizayn{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 166px;
}
header{
    background: url(./img/2\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.zayavka{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 30px;
    color: #FFFFFF;

}
.logo{
    margin-top: 160px;
}
.tele{
    
    margin-left: 40px;
  
   margin-top: 34px;
   
}
#insta{
    background: #FFFFFF;
    border-radius: 10px;
    padding-right: 1px;
    padding-left: 1px;
}
form{
    background: rgba(196, 196, 196, 0.15);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
   padding-left: 40px;
   margin-left: 17px;
   margin-top: 67px;
   margin-bottom: 67px;
}
label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-bottom: -;
    }
input{
    margin-top: 10px;
    border: 1px solid #FFFFFF;
    background: rgba(196, 196, 196, 0.15);
    width: 324px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.btn{
    padding: 14px 109px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #181818;
    background: #C4C4C4;
    border: 1px solid yellow;
    background-color: #F0D905;
    margin-top: 30px;
    margin-bottom: 35px;
 } 
 .что{
font-weight: 700;
font-size: 48px;
line-height: 59px;
color: #F0D905;
margin-top: 100px;
 }  
 section{
    background: #181818;
 }
 .section-1{
    position: relative;
 }
 .img{
    margin-top: 50px;
    transform: scale(1);
    margin-bottom: 301px;
 }
 .p{
font-weight: 400;
font-size: 20px;
line-height: 45px;
color: #FFFFFF;
margin-top: 35px;
margin-left: 110px;
 }
 .position{
    left: 960px;
    position: absolute;
    top: 620px;
    display: flex;
}
 
 .s{
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #181818;
background: #F0D905;
border-radius: 30px;    
padding: 14px 17px;
top: -20px;

 }
 .btn1{
    margin-left: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: #181818;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.35), 4px 4px 10px rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    padding: 14px 17px;
    color: #F0D905;
    
     }
footer{
    background: #181818;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.5);
     }
     .d{
       display: flex;
       margin-top: 37px;
       margin-top: -15px;
     }
     .insta{
        margin-bottom: 47px;
        margin-top: 10px;
        margin-left: 10px;
        transform: scale(1);
     }
 .list-iteam1{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 40px;
    list-style: none;
    margin-right: 30px;
 }      
 /* ----------------------RESPONSIVE---------- */
 @media (max-width:575px)  {
    .logo1{
        width: 56px;
    }
    .web {
        font-weight: 700;
        font-size: 37px;
        line-height: 88px;
        margin-top: 90px;
        color: #FFFFFF;
      margin-left: 30px;
    }
    .dizayn{
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    
    text-align: center;
    color: #FFFFFF;

    }
    .btn {
        padding: 10px 43px;
        font-weight: 700;
        font-size: 12px;
        line-height: 22px;
        color: #181818;
        background: #C4C4C4;
        border: 1px solid yellow;
        background-color: #F0D905;
        margin-top: -156px;
        margin-bottom: 36px;
     margin-left: 67px;
    }
    .что {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #F0D905;
        margin-top: 26px;
    }
    .img {
        margin-top: -50px;
        transform: scale(0.5);
        margin-left: -150px;
    }
.p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 42px;
color: #FFFFFF;
text-align: start;
margin-left: 16px;
margin-top: -322px;
}
.list-iteam1 {
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 56px;
    list-style: none;
    margin-right: 10px;
}
.insta {
    margin-bottom: 48px;
    margin-top: 12px;
    margin-left: 27px;
    transform: scale(0.6);
}
 }
