* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
}

nav {
    background: #181818;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.list {
    padding-top: 29px;

    display: flex;
}

.list_item {
    list-style: none;
}

.list_item a {
    text-decoration: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;

}

.navdiv {
    margin-top: 29px;
    display: flex;
}

.ru {
    font-weight: 700;
    font-size: 18px;
    color: #F0D905;
    margin-right: 5px;
}

.en {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 5px;
}

.listi {
    list-style: none;
}

.itemi a {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.va {
    letter-spacing: 0.02em;
}

.nadiva {
    margin-top: -14px;
}

.nashe {
    background: #181818;
}

.port {
    margin-left: 208px;
    margin-top: 100px;
    font-weight: 700;
    font-size: 48px;
    color: #F0D905;
    margin-bottom: 78px;
}

.qator {

    display: flex;
}

.qatori {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 70px;
}

.and {
    color: #FFFFFF;
    filter: blur(1px);
}

/* -------------------------------------------header end----------------------------------------- */
/* -------------------------------------------section start-------------------------------------- */
.sec {
    background-color: #181818;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);

}

.card {
    background-color: #181818;
    margin-top: 100px;
    transition: 0.5s;
}
.card :hover{
    box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.5), 10px 10px 30px rgba(0, 0, 0, 0.5);
    scale: 1.1;
    transition: 0.5s;
}

.raq {
    background: url(./img/01.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.raq2 {
    background: url(./img/02.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    color: #FFFFFF;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.raq3 {
    background: url(./img/03.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.raq4 {
    background: url(./img/04.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.raq5 {
    background: url(./img/05.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.raq6 {
    background: url(./img/06.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.raq7 {
    background: url(./img/07.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.raq8 {
    background: url(./img/08.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.raq9 {
    background: url(./img/09.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.raq10 {
    background: url(./img/10.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    color: #FFFFFF;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.raq11 {
    background: url(./img/11.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.raq12 {
    background: url(./img/12.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    padding-right: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.muz {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

.nomer1 {
    width: 100%;
    margin-top: 10px;
}

.btn1 {
    margin-left: 20px;
    margin-top: 70px;
    background: #F0D905;
    border-radius: 60px;
    width: 280px;
    height: 80px;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-bottom: 200px;
}

/* ----------------------------------------section end ------------------------------ */
.footer1 {
    background: #181818;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
}

.logo2 {
    margin-top: 42px;
}

.ator {
    margin-top: 92px;
    display: flex;
}

.tur {
    margin-right: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.footimg {
    margin-top: 71px;
}

.chiziq {
    background: rgba(255, 255, 255, 0.2);
    border: 3px solid;
    margin-top: 38px;
}

.footer2 {
    background: #181818;
    padding-bottom: 50px;
}

.nomerno1 {
    height: 29px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 14px;
}

.nomerno2 {
    height: 29px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.divnomerall {
    margin-top: 148px;
}

.textfoter {
    font-weight: 400;
    font-size: 24px;
    line-height: 400px;
    color: #FFFFFF;
}

.divfotertext {
    margin-top: 37px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
}

.form1 {
    width: 384px;
    height: 425px;
    background: rgba(196, 196, 196, 0.15);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
}

.Оставить {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    color: #FFFFFF;
}

.input_box1 {
    width: 324px;
    height: 50px;
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 0;
    padding-left: 5px;
    background: transparent;
    margin-left: 25px;
}

.form-label {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    margin-left: 25px;
    padding: 0;
}

.tl {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-left: 25px;
    margin-top: 15px;
}

.input_box2 {
    width: 324px;
    height: 50px;
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 0;
    padding-left: 5px;
    background: transparent;
    margin-bottom: 30px;
    margin-left: 25px;
}

option {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 5;
    background: transparent;
}

.btn11 {
    font-weight: 700;
    font-size: 18px;
    color: #181818;
    background: #F0D905;
    border: none;

    margin-left: 25px;
    width: 324px;
    height: 50px;
}

.uf {
    margin-left: 140px;
}

.john {
    margin-top: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

/* 992 dan 1199 gacha */
@media (max-width: 1199px) {}

/* 768 dan 991 gacha */
@media (max-width: 991px) {}

/* 576 dan 767 gacha */
@media (max-width: 767px) {}

/* 0 dan 575 gacha */
@media (max-width: 575px) {
    .vaz {
        background: #181818;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    }

    .bg-dark {
        background-color: #181818;
    }

    .nashi {
        background-color: #181818;
        padding-top: 31px;
        display: flex;
    }

    .btn88 {
        background: #F0D905;
        box-shadow: 0px 0px 4px #F0D905;
        border-radius: 9px;
        border: none;
        width: 126px;
        height: 22px;
        font-weight: 700;
        font-size: 16px;
        color: #212121;
    }

    .resp {
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        margin-left: 27px;
    }

    .nasher {
        margin-top: 75px;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #F0D905;
        margin-bottom: -21px;
    }

    .btn1 {
        margin-left: -60px;
        margin-top: 68px;
        background: #F0D905;
        border-radius: 60px;
        width: 198px;
        height: 56px;
        font-weight: 700;
        font-size: 18px;
        color: #000000;
        margin-bottom: 50px;
    }

    .oz {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .usl {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        opacity: 0.5;
        margin-bottom: 54px;
    }
    .usla {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        opacity: 0.5;
        margin: 0;
        padding: 0;
    }
    .endimg{
        margin-left: 90px;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
    }
    .ehh{
        margin-right: 28px;
        width: 48px;
        height: 48px;
    }
    .card{
        scale: 0.90;
        transition: 0.5s;
    }
    .divnomerall{
        scale: 0.6;
    }
    .card :hover{
        box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.5), 10px 10px 30px rgba(0, 0, 0, 0.5);
        scale: 1.1;
        transition: 0.5s;
    }
}

